<!-- For For For For -->
<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="newEmoji" />
<button (click)="addEmoji()">Add Emoji</button>
<ul>
  <li *ngIf="emojis.length === 0" >No hay Emojis</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ emoji }}, {{ i }}
    <button (click)="deleteEmoji(i)">Delete</button>
  </li>
</ul>


<hr/>

<!-- If If If If -->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />

<p *ngIf="person.name == 'Sebastian'">Soy Sebastian</p>
<p *ngIf="person.name == 'Sebastian' && person.age == 26; else elseBlock">Soy Juan Sebastian</p>
<ng-template #elseBlock>
  <p>Bloque de Template!</p>
</ng-template>


<hr/>


<!-- NgModel -->
<h1>Ng Model</h1>
<!-- #nombreVariabe en input -->
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Edad: {{ person.age }}</p>
<input type="number" max="30" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>


<hr/>
<!-- Event (Binding) -->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()" >Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increseAge()" >Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente excepturi doloribus id tenetur et fuga explicabo similique, quam odio tempora cum neque voluptatem? Voluptatibus architecto, aut maiores molestias ducimus esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi optio consectetur inventore iusto officia quod sed, molestias ipsam fugiat distinctio autem nostrum odit blanditiis error debitis magni nobis velit quisquam!</p>
</div>

<!-- Leer evento de input -->
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre: {{ person.name }}</p>


<hr/>
<!-- Property [Bindings] -->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" alt="">


<hr/>
<!-- String Interpolation -->
<h1>Hola, mundo!</h1>
<h2>{{ 'Hola, mundo! '.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h3> Hola, soy {{ name }} y tengo {{ age }} años</h3>

<img src="{{ img }}" alt="image">
